<h1>New deploy BLUE</h1>
<p>Response from: <%= ENV['RENDER_INSTANCE_ID']%>

<ul>
	<li>request.remote_ip: <%= request.remote_ip %></li>
	<li>request.ip: <%= request.ip %></li>
	<li>request.x_forwarded_for_host: <%= request.x_forwarded_for_host %></li>
</ul>
