<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <li><%= link_to "Show this post", post %></li>
  <% end %>
</ul>

<%= link_to "New post", new_post_path %>
